body {
	background: #145f92;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
	color: aliceblue;
}

form {
	width: 500px;
	border: 2px solid #e3e3e3;
	padding: 30px;
	background: #eaeaea;
	border-radius: 15px;
	
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: #000000;
}

input {
	display: block;
	color:rgb(0, 0, 0);
	border: 2px solid #000000;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

a {
	margin-right: auto;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
  
	text-decoration: none;
}
a:hover{
	opacity: .7;
}


